<div class="row">
    <div class="col-md-6">
        <input type="checkbox" id="ckExibir" [(ngModel)]="exibirTabela">
        <label for="ckExibir"> Exibir Tabela</label>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="nome">
    </div>
    <div class="col-12">
        <table *ngIf="exibirTabela" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">preco</th>
                    <th scope="col">descricao</th>
                    <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of listaProdutos">
                    <th scope="row">{{produto.id}}</th>
                    <td [ngStyle]="{'background-color': produto.nome==nome?'yellow':'white'}">{{produto.nome}}</td>
                    <td [ngClass]="{sorocaba:produto.preco=='99'}">{{produto.preco}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="abrirDetalhe(produto.id)">
                            Detalhes</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>